/* Mobile media query */

@media (max-width: 650px) {
  #mainName {
    text-align: center;
  }

  #username {
    margin: 20px 20px;
  }

  #about-container {
    font-size: 16px;
    line-height: 26px;
  }

  #image {
    margin: auto;
    border-radius: 0;
    float: none;
    width: 25%;
    display: block;
  }

  h2 {
    text-align: center;
  }

  .about-section {
    padding: 20px;
    margin: 10px;
  }

  .connect-list {
    justify-content: space-around;
    padding: 20px;
  }

  #skills_lists {
    flex-direction: column;
    align-items: center;
  }

  /* Hamburger */

  #navigation {
    display: none;
    position: absolute;
    top: 60px;
    right: 1rem;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
    z-index: 1000;
    background-color: #4a4848;
  }

  #navigation.show {
    display: flex;
  }

  #hamburger_button {
    display: block;
  }
}

/* Tablet media query */

@media (min-width: 651px) and (max-width: 1200px) {
  #mainName {
    text-align: center;
  }

  #about-container {
    font-size: 16px;
    line-height: 26px;
  }

  #experience-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
  }
  h2 {
    text-align: center;
  }

  #experience-item,
  #experience-item2,
  #experience-item3,
  #experience-item4 {
    width: 25%;
  }

  .about-section {
    clear: left;
    padding: 20px;
  }

  .connect-list {
    justify-content: space-around;
    padding: 20px;
  }
}

/* Desktop media query */

@media (min-width: 1201px) {
  #experience {
    clear: left;
  }

  #mainName {
    text-align: center;
  }

  #container_image {
    display: flex;
    align-items: center;
  }

  #image {
    margin-right: 50px;
  }

  #about-container {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 18px;
    line-height: 28px;
  }
}

/* Main CSS */

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRSjb2-Yy0He5vcjM3smYHPmxkv6_aN2ZSqQ&s");
  color: rgb(24, 22, 22);
}
* {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

#experience,
#about,
#skills,
#projects,
#connect,
#message,
#messages {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

nav {
  background-color: rgb(65, 63, 63);
  padding: 10px;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
}
nav a {
  color: white;
  margin: 0 25px;
  text-decoration: none;
  font-weight: 500;
  /* display: inline-block; */
}

nav a:hover {
  text-decoration: underline;
  transform: translateY(-1px);
}

.hamburger_button {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: rgb(55, 52, 52);
  cursor: pointer;
}

section {
  margin-bottom: 30px;
  margin-top: 30px;
}

.image-picture {
  border-radius: 25%;
  height: auto;
  width: 20%;
}

img {
  border-radius: 50%;
  float: left;
  width: 25%;
}

h1 {
  font-weight: 900;
  font-size: 32px;
  text-transform: uppercase;
  margin-top: 70px;
}

h2 {
  font-weight: 800;
  font-size: 28px;
  color: rgb(74, 63, 66);
}

.linkedin {
  width: 40px;
}
.email {
  width: 40px;
}
.github {
  width: 40px;
}

.experience {
  clear: left;
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: auto;
}

.experience-item {
  background-color: rgb(205, 197, 197);
  color: rgb(9, 9, 9);
  padding: 10px 30px;
  border-radius: 40px;
  transition: transform 0.4s ease;
}

.experience-item:hover {
  transform: translateY(-6px);
}

.dates {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.skills_list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.connect-list {
  display: flex;
  gap: 30px;
}

#leave_message {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px 60px;
  background-color: #f1ecec;
  border-radius: 9px;
  font-family: sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #8d8b8b;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  padding: 10px 35px;
  background-color: rgb(65, 63, 63);
  color: rgb(249, 245, 245);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.unordered_list {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px 60px;
  border-radius: 9px;
  font-family: sans-serif;
}

#messages ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.unordered_list li {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

#messages span {
  margin-left: 10px;
  color: rgb(9, 9, 9);
  flex-grow: 1;
}

#messages a {
  color: rgb(9, 9, 9);
  text-decoration: none;
  font-weight: bold;
}

#messages button {
  background-color: rgb(65, 63, 63);
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
}

#projects ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .project_list {
  background-color: #d1cdcd;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
} */

.project_list a {
  text-decoration: none;
  color: rgb(24, 22, 22);
  background-color: rgb(205, 197, 197);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  display: inline-block;
  transition: background-color 0.2s, color 0.2s;
}

.project_list a:hover {
  background-color: rgb(71, 70, 70);
  color: #ffffff;
}

#messages {
  display: none;
}
